<div ng-controller="empDetailsCtrl">

    <!-- Pop up for add/update starts-->
    <!-- Trigger the modal with a button -->

    <!-- Modal -->
    <div id="addEmpDetailsPopup" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-ng-click="closeEmpDetails()" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add/Update Employement Details</h4>
                </div>
                <div class="modal-body">
                    <md-content layout-padding>
                        <div>
                            <form class="globalStyles" name="profileEditForm">
                                <div style="clear:both;"></div>
                                <md-input-container class="md-block">
                                    <label>Company name</label>
                                    <input type="text" name="ResumeHeading" ng-model="empShowDetailsData.workedCompany" ng-disabled="isDisable" required>
                                </md-input-container>
                                <div class="col-md-12 padding0px">
                                    <label>Joined Date</label> 
                                    <input type="date"  ng-model="empShowDetailsData.workedJoinDate" ng-disabled="isDisable" class="dateSelectors" name="ResumeHeading">
                                </div>
                                
                                <div class="col-md-12 padding0px"  ng-show="!empShowDetailsData.workedCurrentJob">
                                    <label>Relieving Date</label>
                                    <input type="date" name="ResumeHeading" ng-model="empShowDetailsData.workedEndDate" class="dateSelectors" ng-disabled="isDisable">
                                </div>
                                <md-checkbox md-no-ink aria-label="Checkbox" ng-model="empShowDetailsData.workedCurrentJob" ng-disabled="isDisable" class="md-primary">
                                    Is this current job ? 
                                </md-checkbox>
                                <md-input-container class="md-block">
                                    <label>About Job</label>
                                    <textarea style="min-height: 80px;" maxlength="5990" ng-model="empShowDetailsData.empHistory" ng-disabled="isDisable">
                                    </textarea>
                                </md-input-container>
                            </form>
                        </div>
                    </md-content>

                </div>
                <div class="modal-footer">
                    <button type="button" ng-disabled="profileEditForm.$invalid" data-ng-click="updateEmpDetails(empShowDetailsData.id, empShowDetailsData)" ng-show="cancelBtn" class="btn btn-primary"
                        data-dismiss="modal">Add/Update Employement Details</button>
                    <button type="button" data-ng-click="closeEmpDetails()" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <!-- Pop up for add/update ends-->

    <div id="ResultData" class="alert  alert-dismissable">
        <span class=""></span>
        <button type="button" class="closeBtn" data-dismiss="alert" aria-lable="close">×</button>
        <span id="ResultMessage"></span>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="btn-group pull-right">
                <button type="button" ng-show="addBtn" ng-click="addEmpDetails()" class="btn btn-primary padding-left-right">
                    <span class="glyphicon glyphicon-edit"></span>Add</button>
                <button ng-show="editBtn" ng-click="editProfile()" class="btn btn-primary padding-left-right">
                    <span class="glyphicon glyphicon-edit"></span>Edit</button>
                <button type="button" ng-show="saveBtn" class="btn btn-primary padding-left-right">
                    <span class="glyphicon glyphicon-save"></span>Save</button>
                <button type="button" ng-show="cancelBtn" ng-click="cancelEmpDetails()" class="btn btn-primary padding-left-right">
                    <span class="glyphicon glyphicon-remove"></span>Cancel</button>
            </div>
        </div>
    </div>
    <div class="panel-group" id="projectDetailsPopup">
        <div class="panel panel-default">
            <div class="panel-heading">Employement Details</div>
            <div class="panel-body">
                <div ng-show="showAddEmpDetails">
                </div>
                <div>                
                    <ul class="list-group" id="groupEmp">
                        <li ng-show="empSelectedDetailsData == undefined || empSelectedDetailsData == ''" class="list-group-item" style="text-align:center;border: 1px solid white !important;">
                            <div>
                                No Employement History Added
                            </div>                        
                        </li>
                        <li class="list-group-item" ng-repeat="empData in empSelectedDetailsData track by $id(empData)">
                            <md-content style="overflow: inherit;">
                                <div>
                                    <div class="row empListRow">
                                        <div class="col-md-3 empListCol1">
                                            Compamy Name
                                        </div>
                                        <div class="col-md-9 empListCol2">
                                            {{empData.workedCompany}}
                                        </div>
                                    </div>
                                    <div class="row empListRow">
                                        <div class="col-md-3 empListCol1">
                                            Joined Date 
                                        </div>
                                        <div class="col-md-9 empListCol2">
                                            {{empData.workedJoinDate == '' ? '99.99.9999' : convertToDate(empData.workedJoinDate)  | date :  'dd.MM.y'}}
                                        </div>
                                    </div>
                                    <div class="row empListRow" ng-show="{{empData.workedCurrentJob == 'true' ? false : true}}">
                                        <div class="col-md-3 empListCol1">
                                            Relieving Date
                                        </div>
                                        <div class="col-md-9 empListCol2">
                                            {{empData.workedEndDate == '' ? '99.99.9999' : convertToDate(empData.workedEndDate)  | date :  'dd.MM.y'}}
                                        </div>
                                    </div>
                                    <div class="row empListRow" ng-show="{{empData.workedCurrentJob == 'true' ? true : false}}">
                                        <div class="col-md-3 empListCol1">
                                                Relieving Date
                                        </div>
                                        <div class="col-md-9 empListCol2">
                                            NA (Still working here)
                                        </div>
                                    </div>
                                    <div class="row empListRow">
                                        <div class="col-md-3 empListCol1">
                                            About Job
                                        </div>
                                        <div class="col-md-9 empListCol2">
                                            {{empData.empHistory}}
                                        </div>
                                    </div>
                                </div>
                            </md-content>
                            <div class="modal-footer" ng-show="isFullProfile">
                                <button type="button"  data-ng-click="updateIndEmpDetails(empData.id, empData)" class="btn btn-primary">Update</button>
                                <button type="button"  data-ng-click="deleteIndEmpDetails(empData.id, $index)" class="btn btn-primary">Delete</button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
