<div ng-controller="profileEditCtrl">
    <div id="ResultData" class="alert  alert-dismissable">
        <span class=""></span>
        <button type="button" class="closeBtn" data-dismiss="alert" aria-lable="close">×</button>
        <span id="ResultMessage"></span>
    </div>
 
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12">
            <div class="btn-group pull-right">
                <button type="button" ng-show="addBtn" class="btn btn-primary padding-left-right">
                    <span class="glyphicon glyphicon-edit"></span>Add</button>
                <button ng-show="editBtn" ng-click="editProfile()" class="btn btn-primary padding-left-right">
                    <span class="glyphicon glyphicon-edit"></span>Edit</button>
                <button type="button" ng-show="saveBtn" class="btn btn-primary padding-left-right">
                    <span class="glyphicon glyphicon-save"></span>Save</button>
                <button type="button" ng-show="cancelBtn" ng-click="cancelProfile()" class="btn btn-primary padding-left-right">
                    <span class="glyphicon glyphicon-remove"></span>Cancel</button>
            </div>
        </div>
    </div>

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">Profile View/Edit</div>
            <div class="panel-body">
                <md-content layout-padding>
                    <div>
                        <form action="uploadPhoto.php" class="globalStyles" name="profileEditForm" method="post" enctype="multipart/form-data">
                            <div class="col-md-8 col-xs-6" style="margin-left: -15px;">
                                <md-input-container class="md-block">
                                    <label>Name</label>
                                    <input type="text" name="name" ng-model="profileEditData.fname" ng-disabled="isDisable">
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>Current Company</label>
                                    <input type="text" name="company" ng-model="profileEditData.CurrentComapany" ng-disabled="isDisable">
                                </md-input-container>
                            </div>
                            <div class="col-md-4 col-xs-6" style="margin-left: 15px;margin: 0px;border: 1px solid #cecece;">
                                <md-input-container class="md-block" style="padding: 10px;">
                                    <img src="{{profileEditData.profilePhoto}}" width="100%" height="100%">
                                </md-input-container>
                                <md-input-container ng-show="!hideChoosePhoto" class="md-block">
                                    <label style="display:none;">Change Profile Photo </label>
                                    <input type="file" name="fileToUpload" style="width: 100%;padding: 0px;" ng-disabled="isDisable"
                                            place-holder="Profile photo" id="fileToUpload">
                                </md-input-container>
                                <md-input-container ng-show="!hideChoosePhoto" class="md-block">
                                    <md-button name="photoUpload" ng-disabled="profileEditForm.$invalid" ng-disabled="isDisable" data-loading-text="Uploading..."
                                        type="submit" class="md-raised md-primary">
                                        Upload
                                    </md-button>
                                </md-input-container>
                            </div>
                            <div style="clear:both;"></div>
                            <md-input-container class="md-block">
                                <label>Resume Heading</label>
                                <input type="text" name="ResumeHeading" ng-model="profileEditData.ResumeHeading" ng-disabled="isDisable">
                            </md-input-container>
                            <div layout="row">
                                <md-input-container flex="50">
                                    <label>Linked URL</label>
                                    <input type="text" name="linked" ng-model="profileEditData.linked" ng-disabled="isDisable">
                                </md-input-container>
                                <md-input-container flex="50">
                                <label>Qualification</label>
                                    <md-select name="qua" data-ng-model='profileEditData.qua' ng-disabled="isDisable" ng-init="profileEditData.qua='NA'">
                                        <md-option value="NA">Select your qualification</md-option>
                                        <md-option value="10th">10th</md-option>
                                        <md-option value="12th">12th</md-option>
                                        <md-option value="Diploma">Diploma</md-option>
                                        <md-option value="B.A">B.A</md-option>
                                        <md-option value="BCA">BCA</md-option>
                                        <md-option value="B.Com">B.Com</md-option>
                                        <md-option value="B.Sc">B.Sc</md-option>
                                        <md-option value="BE">BE</md-option>
                                        <md-option value="Other Graduation">Other Graduation</md-option>
                                        <md-option value="M.A">M.A</md-option>
                                        <md-option value="M.Com">M.Com</md-option>
                                        <md-option value="M.Sc">M.Sc</md-option>
                                        <md-option value="MCA">MCA</md-option>
                                        <md-option value="Other Post Graduation">Other Post Graduation</md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                            <div layout="row">
                                <md-input-container flex="50">
                                    <label>Total Experiance</label>
                                    <md-select name="TotalExp" ng-model="profileEditData.TotalExp" ng-disabled="isDisable" ng-init="profileEditData.TotalExp='NA'">
                                        <md-option value="NA">Select experiance</md-option>
                                        <md-option value="Fresher">Fresher</md-option>
                                        <md-option value="0 - 1 Years">0 - 1 Years</md-option>
                                        <md-option value="1 - 2 Years">1 - 2 Years</md-option>
                                        <md-option value="2 - 3 Years">2 - 3 Years</md-option>
                                        <md-option value="3 - 4 Years">3 - 4 Years</md-option>
                                        <md-option value="4 - 5 Years">4 - 5 Years</md-option>
                                        <md-option value="5 - 6 Years">5 - 6 Years</md-option>
                                        <md-option value="6 - 7 Years">6 - 7 Years</md-option>
                                        <md-option value="7 - 8 Years">7 - 8 Years</md-option>
                                        <md-option value="8 - 9 Years">8 - 9 Years</md-option>
                                        <md-option value="9 - 10 Years">9 - 10 Years</md-option>
                                        <md-option value="10 + Years">10 + Years</md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container flex="50">
                                    <label>Current Designation</label>
                                    <input type="text" name="CurrentDesignation" ng-model="profileEditData.CurrentDesignation" ng-disabled="isDisable">
                                </md-input-container>
                            </div>
                            <div layout="row">
                                <md-input-container flex="50">
                                    <label>Date of Birth</label>
                                    <input type="date" name="dob" ng-model="profileEditData.dob"  ng-disabled="isDisable">
                                </md-input-container>
                                <md-input-container flex="50">
                                    <label>Gender</label>
                                    <md-select name="type" name="gender" ng-model="profileEditData.gender" ng-disabled="isDisable">
                                        <md-option value="male">Male</md-option>
                                        <md-option value="female">Female</md-option>
                                        <md-option value="other">Other</md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                            <div layout="row">
                                <md-input-container flex="50">
                                    <label>Address Line1</label>
                                    <input type="text" name="address1" ng-model="profileEditData.address1" ng-disabled="isDisable">
                                </md-input-container>
                                <md-input-container flex="50">
                                    <label>Address Line2</label>
                                    <input type="text" name="company" ng-model="profileEditData.address2" ng-disabled="isDisable">
                                </md-input-container>
                            </div>
                            <div layout="row">
                                <md-input-container flex="50">
                                    <label>Address Line3</label>
                                    <input type="text" name="address3" ng-model="profileEditData.address3" ng-disabled="isDisable">
                                </md-input-container>
                                <md-input-container flex="50">
                                    <label>Town</label>
                                    <input type="text" name="town" ng-model="profileEditData.town" ng-disabled="isDisable">
                                </md-input-container>
                            </div>
                            <div layout="row">
                                <md-input-container flex="50">
                                    <label>Pincode</label>
                                    <input type="text" name="pincode" ng-model="profileEditData.pincode" ng-disabled="isDisable">
                                </md-input-container>
                                <md-input-container flex="50">
                                    <label>Country</label>
                                    <input type="text" name="country" ng-model="profileEditData.country" ng-disabled="isDisable">
                                </md-input-container>
                            </div>
                            <div layout="row">
                                <md-input-container flex="50">
                                    <label>Client</label>
                                    <input type="text" name="client" ng-model="profileEditData.client" ng-disabled="isDisable">
                                </md-input-container>
                                <md-input-container flex="50">
                                    <label>Mobile</label>
                                    <input type="text" name="mobile" ng-model="profileEditData.mobile" ng-disabled="isDisable">
                                </md-input-container>
                            </div>
                            <md-button ng-disabled="profileEditForm.$invalid" ng-show="cancelBtn" data-loading-text="Updating Profile..." type="button"
                                class="md-raised md-primary" data-ng-click="updateProfile()">
                                Update Profile
                            </md-button>
                        </form>
                    </div>
                </md-content>
            </div>
        </div>
    </div>

</div>
<script>
    $('.globalStyles input').keydown(function (e) {
        if (e.keyCode == 13) {
            var inputs = $(this).parents("form").eq(0).find(":input");
            if (inputs[inputs.index(this) + 1] != null) {
                inputs[inputs.index(this) + 1].focus();
            }
            e.preventDefault();
            return false;
        }
    });
</script>
